-- Add this entry to lua/nvim-treesitter/parsers.lua (alphabetically sorted)
-- between "comment" and "commonlisp"

concerto = {
  install_info = {
    url = 'https://github.com/accordproject/concerto-tree-sitter',
    -- Replace <COMMIT_SHA> with the full SHA of the desired commit: git rev-parse HEAD
    revision = '<COMMIT_SHA>',
  },
  maintainers = { '@jamieshorten' },
  tier = 3,
},
