-- Add this entry to lua/nvim-treesitter/parsers.lua (alphabetically sorted)
-- between "comment" and "commonlisp"

concerto = {
  install_info = {
    url = 'https://github.com/accordproject/concerto-tree-sitter',
    revision = 'de6a8f87024824ed904b3def3f900cd7bd705ba1',
  },
  maintainers = { '@jamieshorten' },
  tier = 2,
},
