-- Add this entry to lua/nvim-treesitter/parsers.lua (alphabetically sorted)
-- between "comment" and "commonlisp"

concerto = {
  install_info = {
    url = 'https://github.com/accordproject/concerto-tree-sitter',
    revision = '77ae6b94eb0e249d1e5738c60eceed790c27563b',
  },
  maintainers = { '@jamieshorten' },
  tier = 3,
},
